
  .mat-button{
    background-color: #3f51b5;
    color: #fff;
  }
  .example-button-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px;
  }
  .pmt-section .example-button-row{
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 20px 0;
  }
  .prod{
   
    width: 500px;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .prod h2{
    color: #ff4081;
    margin: 0;
  }
  .address{
    width: 500px;
    height: 200px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .mat-button{
    width: 100%;
    background-color: #ff4081;
    color: white;
  }

  .prod,.address,.payment-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    
  }
  .payment-box{
    display: flex;
    flex-direction: column; 
    background-color: antiquewhite; 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.button-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.mat-button{
    width: 100%;
    background-color: antiquewhite;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.mat-button:hover{
  background-color: #ff4081;
    color: white;
}
.payment-box h3 span{
    color: green;
}
.payment{
  width: 100%;
  background-color: antiquewhite;
  color: black;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media screen and (max-width:767px){
  .prod{
   
    width: 100%;
    height: 90px;
  }
  .address{
    width: 100%;
    height: 200px; 
  }
}
@media screen and (min-width: 768px)and (max-width:1075px){

  .prod{
   
    width: 350px;
    height: 90px;
  }

  .address{
    width: 350px;
    height: 200px; 
  }
}
