<div class="container">
    <div class="row">
        <div class="img">

        </div>
        <div class="discription">
           <div>
            <h1>Atchol cv tab</h1>
            <h4>Atorvastatin And Clopidogril</h4>
           </div>
           <div>
            <h1>best price <span>₹91.91</span></h1>
            <h5>MRP:₹101.00 </h5>
            <P>(Inclusive of all taxes)</P>
            <P>* Get the best price on this product on orders above Rs 1299</P>
            <H4>*10 Tablet(s) in a Strip</H4>
            <P>Mkt:aristo pharma </P>
            <p>Mfd:aristo pharma</p>
            <p>* Delivery charges if applicable will be applied at checkout</p>
           </div>
           <div class="button-row">   
            <button mat-button color="accent" class="btn">Checkout</button>  
          </div>
        </div>
    </div>
</div>