<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-md-2"> -->
            <!-- <app-sidenav></app-sidenav> -->

        <!-- </div> -->
        <div class="col-md-12"  style="display:flex; align-items: center; justify-content: center;">
            <div class="form">
                <form class="example-form" [formGroup]="formValue">
                    <mat-form-field class="example-full-width"  >
                      <mat-label>Product Name</mat-label>
                      <input matInput placeholder="enter product name" formControlName="product_name" >
                    </mat-form-field>
                    <mat-form-field class="example-full-width" >
                        <mat-label>Drug group</mat-label>
                        <input matInput placeholder="Drug group" formControlName="drug_name" >
                    </mat-form-field>
                    <mat-form-field class="example-full-width" >
                        <mat-label>Manufacturer</mat-label>
                        <input matInput placeholder="Manufacturer" formControlName="manufacturer">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" >
                        <mat-label>Company Name</mat-label>
                        <input matInput placeholder="company name" formControlName="company" >
                    </mat-form-field>
                    
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td><mat-form-field class="example-full-width" >
                                <mat-label>MRP</mat-label>
                                <input matInput placeholder="MRP" formControlName="mrp">
                              </mat-form-field></td>
                              <td><mat-form-field class="example-full-width" >
                                <mat-label>Discount%</mat-label>
                                <input matInput placeholder="Discount%" formControlName="discount">
                              </mat-form-field></td>
                        </tr>
                        <tr>
                            <td><input type="file" formControlName="image"></td>
                              <td><mat-form-field class="example-full-width" >
                                <mat-label>Qty</mat-label>
                                <input matInput placeholder="Qty" formControlName="qty">
                              </mat-form-field></td>
                        </tr>
                    </table>
                    <div class="example-button-row">
                        <!-- <button mat-button color="primary">Add Product</button> -->
                        <input type="submit" class="mat-button" (click)="postProduct()" color="primary" value={{actionBtn}}>
                        
                    </div>
                    
                </form>
            </div>
            
        </div>
        <!-- <div class="col-md-2">

        </div> -->
    </div>
</div>
