*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-fluid{
    padding-bottom: 45px;
}
.navbar{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    /* position: fixed; */
   background-color: #24aeb1;
}

.sidenav{
    background-color: aliceblue; 
    height: 600px;
    padding: 30px;
   
}
.mbody{
    background-color: #fff;
    height: 600px;
    
}
.sidebar{
    background-color: aliceblue;
    height: 600px;
    
    
}
/* main body start here  */
.form-control{
    margin: 50px;
    padding: 10px;
    width: 600px;
    outline: none;
}
.searchbar{
    display: flex;

}
.btn{
    width: 80px;
    height: 50px;
    margin: 50px;
    padding: 10px;
    outline: none;
}
/* navbar start */
.navbar .col-sm-9{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .col-sm-9 a{
    text-decoration: none;
}
.navbar .col-sm-3 a{
    text-decoration: none;
}
.navbar .col-sm-9 span{
    padding: 20px;
    color: #fff;
    font-size: 32px; 
    font-weight: 700; 
    margin-right: 100px;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.navbar .col-sm-9 span .find{
    color: black;
    margin: 0;
    padding: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    font-family: 'Inter', sans-serif; 
}
.navbar li a{
    width: 100px;
    padding: 10px 60px 10px 60px;
    color: black;
    font-size: 17px; 
    font-weight: 700; 
    text-decoration: none;   
}
.login{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login button {
    background-color: #fff;
    color: #FF4500;
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.login button:hover{
    color: blue;
}
.login mat-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #FF4500;
    padding:20px;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 10px;
}

.username{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.username span{
    padding: 0;
    margin: 0;
}

.bottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #24aeb1;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    display: none;

  }
  
  .bottomNav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .bottomNav a.active {
    color: #007bff;
  }
  
@media screen and (max-width: 560px) {
    .navbar{
        height: 80px;
        width: 100%;
        /* position: fixed; */
       background-color: #24aeb1;
       display: flex;
       /* align-items: center; */
    }
    .navbar .col-sm-9 a{
        text-decoration: none;
        margin-right: 70px;
    }
    .navbar .col-sm-9 span{
        padding: 10px;
        color: #fff;
        font-size: 20px; 
        font-weight: 600; 
        margin-left: 10px;
        text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    /* .col-sm-4{
        width: 20%;
    } */
    .col-sm-9{
        width: 70%;
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        /* justify-content: center; */
    }
    .col-sm-3{
        width: 30%;
    }
    .login mat-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #FF4500;
        padding:20px;
        font-weight: 300;
        border-radius: 50px;
        cursor: pointer;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        margin: 3px;
        font-size: 20px;
    }
    .bottomNav{
        display:inline-flex;
    }
    .cart{
        display: none;
    }
    .profile-img{
        display: none;
    }
  }
  @media screen and (min-width: 561px)and (max-width:700px){

    .col-sm-9{
        width: 70%;
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        /* justify-content: center; */
    }
    .navbar .col-sm-9 a{
        text-decoration: none;
        margin-right: 150px;
    }
    .col-sm-3{
        width: 30%;
    }
    .login mat-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #FF4500;
        padding:20px;
        font-weight: 300;
        border-radius: 50px;
        cursor: pointer;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        margin: 5px;
        font-size: 20px;
    }
    .navbar .col-sm-9 span{
        padding: 10px;
        color: #fff;
        font-size: 22px; 
        font-weight: 600; 
        margin-left: 10px;
        text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .bottomNav{
        display:inline-flex;
    }
    .cart{
        display: none;
    }
    .profile-img{
        display: none;
    }
  }
  @media screen and (min-width: 701px)and (max-width:1075px){

    .col-sm-9{
        width: 70%;
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        /* justify-content: center; */
    }
    .navbar .col-sm-9 a{
        text-decoration: none;
        margin-right: 220px;
    }
    .col-sm-3{
        width: 30%;
    }
    .login mat-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #FF4500;
        padding:20px;
        font-weight: 300;
        border-radius: 50px;
        cursor: pointer;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        margin: 7px;
        font-size: 20px;
    }
    .navbar .col-sm-9 span{
        padding: 10px;
        color: #fff;
        font-size: 24px; 
        font-weight: 600; 
        margin-left: 10px;
        text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
  }