/* .container{
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 100px;
} */
.pro-info{
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 300px;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.image{
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 10px;
}
.pro-info h1{
    font-size: 30px;
    font-weight: 700;
    font-family:monospace;
    color: rgb(86, 212, 250);
    
}
.other{
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px; 
}
.other div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.other h1{
    margin: 0;
    text-align:start;
    width: 100%;
}
.other mat-icon{
    margin-right: 20px;
}
.orders{
    background-color: rgb(243, 243, 243);
    width: 600px;
    /* height: 600px; */
    margin-top: 20px 0;
    padding: 20px;  
}
.orders .order{
    width: 100%;
    height: 130px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.orders h1{
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.order,.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order h2, h3, p{
    margin: 0;
}
.order h2{
    font-size: 17px;
    font-family: inherit;
    
}
.order h3{
    font-size: 15px;
    font-family: inherit;
    font-weight: 500;
}
.details{
    width: 70%;
    padding: 10px;
}
.details .last{
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
@media screen and (max-width:560px){
    .pro-info{
        width: 100%;
        height: 300px;
        
    }
    .orders{
        background-color: rgb(243, 243, 243);
        width: 100%;
        /* height: 600px; */
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;  
    }
    .other{
        background-color: rgb(243, 243, 243);
        width: 100%;
        height: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px; 
    }
    .order h2{
        font-size: 14px;
        font-family: inherit;
        
    }
    .order h3{
        font-size: 13px;
        font-family: inherit;
        font-weight: 500;
    }
    .order{
        width: 100%;
    }
    .img{
        width: 20%;
    }
    .details{
        width: 80%;
        padding: 10px;
    }
}
@media screen and (min-width: 560px)and (max-width:767px){
    .pro-info{
        width: 100%;
        height: 300px;
        
    }
    .orders{
        background-color: rgb(243, 243, 243);
        width: 100%;
        /* height: 600px; */
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;  
    }
    .other{
        background-color: rgb(243, 243, 243);
        width: 100%;
        height: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px; 
    }
    
}
@media screen and (min-width: 768px)and (max-width:1075px){
    .pro-info{
        background-color: rgb(243, 243, 243);
        width: 300px;
        height: 300px;
    }
    .orders{
        background-color: rgb(243, 243, 243);
        width: 400px;
        margin-left: 10px;
    }
    .other{
        background-color: rgb(243, 243, 243);
        width: 300px;
        height: 300px;
    }
}