<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="pro-info" *ngIf="user">
                <img class="image" src="assets/images/avatar.png" >
                <h1>{{user.name | titlecase}}</h1>
                <h3>{{user.email }}</h3>
                <h3>7057694596</h3>
            </div>
            <div class="other">
                <div><mat-icon class="call">person</mat-icon><h1>Account </h1><mat-icon class="call">arrow_forward_ios</mat-icon></div>
                <div><mat-icon class="call">local_shipping</mat-icon><h1>Deliveery Address</h1><mat-icon class="call">arrow_forward_ios</mat-icon></div>
                <div><mat-icon class="call">person_add</mat-icon><h1>Refer & Earn</h1><mat-icon class="call">arrow_forward_ios</mat-icon></div>
                <div><mat-icon class="call">perm_phone_msg</mat-icon><h1>Contact Us</h1><mat-icon class="call">arrow_forward_ios</mat-icon></div>
                <div *ngIf="login" (click)="userlogOut()"><mat-icon class="call">lock_open</mat-icon><h1>logout</h1><mat-icon class="call">arrow_forward_ios</mat-icon></div>
                <div *ngIf="adminlogin" (click)="adminlogOut()"><mat-icon class="call">lock_open</mat-icon><h1>logout</h1><mat-icon class="call">arrow_forward_ios</mat-icon></div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="orders">
                <h1>My Orders</h1>
                <div class="order" *ngFor="let data of data">
                    <div class="img">
                        <img src="assets/images/category-img4.jpg" style="height:80px ; width: 60px;">
                    </div>
                    <div class="details">
                        <div>
                            <h2>delivered on tue jun 2</h2>
                            <h3>{{data.product_name | titlecase}}</h3>
                            <p>{{data.drug_name | titlecase}}</p>
                            <h3>{{data.company | titlecase}}</h3>
                        </div>
                        <div class="last">
                            <span>{{data.mrp | currency:'INR'}}</span>
                            <span>Qty:{{data.quantity}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
