<div class="row">
    <div class="col-md-2">
      <div class="sidenav ">
        <h1>DashBoard</h1>
        <li><a routerLink="/stocks">Stocks</a></li>
        <!-- <li><a routerLink="/add-product">Add Product</a></li> -->
        <li><a routerLink="/prod-details">Add Bills</a></li>
        <li><a routerLink="/purchase">Purchase</a></li>
        <li><a routerLink="/Sales">Sales</a></li>
        <li><a routerLink="/expiry-alert">Expiry-Alert</a></li>
        <li><a routerLink="/payment">Payment</a></li>
        <li><a routerLink="/log-out">Log Out</a></li>
        <!-- <li></li> -->
        
      </div>
    </div> 
    <div class="col-md-8">
      <h1 style="margin-top: 150px; font-size:50px;">Admin DashBoard</h1>
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2"></div> 
</div>
